.about {
    border-top: 1px solid var(--Neutral-03, #E1E2E2);
    padding: 30px;
    border-bottom: 1px solid var(--Neutral-03, #E1E2E2);
    margin-left: 50px;
    font-family: sans-serif;
}

.about-inner_inner_list {
    list-style: none;
    display: flex;
}

.about-inner_item {
    margin-left: 30px;
}



.about-inner {
    margin-left: 56px;
}

.rainbow {
    margin-left: 105px;
}

.current {
    color: #686A6C;
}

.about_div {
    margin-left: 10px;

}

.buynow {
    margin-left: 100px;
    color: #686A6C;
}

.eth_1 {
    margin-left: 200px;
}

.btn_about {
    padding: 11px 25px;
    color: black;
    border: 1px solid black;
    background-color: white;
    margin-left: 550px;
    margin-top: 50px;
}